h1 {
    border-radius: 20px;
    font-family: "標楷體";
    text-align: center;
}

.create-title {
    padding-top: 20px;
    font-family: "fantasy";
    display: inline-block;
    margin-top: 20px;
}

.requiredField {
    font-size: 30px;
}

#id_title {
    border-color: rgb(25, 22, 212);
    margin-bottom: 15px;
}

#div_id_text {
    font-size: 30px;
}

#id_text {
    border-color: blue;
    margin-bottom: 15px;
}

#div_id_image label {
    font-size: 30px;
}